[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pbtc = "*"

[packages]
source = "*"
grpcio = "*"
pdf-client-wrapper = {editable = true, path = "."}

[requires]
python_version = "3.8"
